/* src/pages/Projects.css */
.grid-3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.project-card {
  position: relative;
  height: 400px;
  background-color: var(--card-bg);
  border-radius: 1rem;
  overflow: hidden;
  border: 1px solid var(--border-color);
  cursor: pointer;
  transition: border-color 0.3s;
}
.project-card:hover {
  border-color: rgba(255, 77, 36, 0.5);
}
.experience-lable{color: #ff4d24;}
.project-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  opacity: 0.4;
  transition: all 0.5s;
}
.project-card:hover .project-bg {
  filter: grayscale(0%);
  transform: scale(1.05);
}
.project-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent, rgba(0,0,0,0.9));
  z-index: 10;
}
.project-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 2rem;
  z-index: 20;
  transform: translateY(0.5rem);
  transition: transform 0.3s;
}
.project-card:hover .project-content {
  transform: translateY(0);
}
.project-cat {
  color: var(--accent-color);
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 0.5rem;
  display: block;
}
.project-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 0 0.75rem 0;
}
.project-desc {
  color: var(--text-secondary);
  font-size: 0.875rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.project-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--border-color);
  padding-top: 1rem;
}
.tech-stack-summary {
  font-size: 0.75rem;
  color: #6b7280;
  font-family: monospace;
}
.arrow-icon {
  background: white;
  color: black;
  padding: 0.5rem;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
}
.project-card:hover .arrow-icon {
  opacity: 1;
}

@media (min-width: 768px) {
  .grid-3 { grid-template-columns: repeat(3, 1fr); }
}

.subtitle{
  padding : 28px 10px;
}